# Build directories
build/
CMakeFiles/
Debug/
Release/

CMakeCache.txt

cmake/st-project.cmake

# Debug Files
*.launch

# Settings
.vs*/
.settings/

# Build artifacts
.obj
.elf
.hex
cmake/st-project.cmake
